[Unit]
Description=VTM Bot Service (GitHub + SSH Deploy)
After=network.target

[Service]
WorkingDirectory=/opt/vtm_bot/bot
ExecStart=/opt/vtm_bot/bot/venv/bin/python3 /opt/vtm_bot/bot/main.py
Restart=always
# Replace with the user you want to run the bot as, e.g. ubuntu
User=root

[Install]
WantedBy=multi-user.target
